.cleanercode {
  display: flex;
  justify-content: center;
  height: 220px;
  margin-left: 48px;
}

.custom-subheading {
  font-family: 'Lora', 'Times New Roman', serif;
}

ul.archive-list {
  list-style-type: none
}

span.archive-date {
  font-family: 'Lora', 'Times New Roman', serif;
}

.flexColumn {
  height: 100%;
  /* take height of nav parent */
  list-style-type: none;
  padding-left: 0;
  /* remove default UL padding */
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  /* horizontal alignment (applies to child elements) */
  align-items: left;
  /* horizontal alignment (applies to child elements) */
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexRow div {
  margin: 10px;
}

div .cursor img {
  cursor: auto;
}

div .cursor:hover img {
  cursor: auto;
  opacity: .5;
}

div .date {
  font-style: italic;
  font-weight: 50;
  margin: 0px;
  font-size: 75%
}

div .description {
  font-weight: 50;
  margin: 0px;
  font-size: 75%
}

div .tech {
  font-weight: bold;
  margin: 0px;
  font-size: 75%
}

.bookme {
  font-family: 'Lora', 'Times New Roman', serif;
  font-size: 75%;
  font-style: italic;
}

.friends {
  text-align: center;
}

.friends > img {
  display: inline;
}

.row-bottom {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid green;
}