.cleanercode {
  display: flex;
  justify-content: center;
  height: 220px;
  margin-left: 48px;
}

.custom-subheading {
  font-family: 'Lora', 'Times New Roman', serif;
}

.ulContainer{
  list-style: none;
}